.about-us {
}
.about-title {
}
.about-us__content {
  display: flex;
}
.us-photo {
  margin: 0px 35px 0px 0px;
}
.us-image {
  max-width: 100%;
}

.about-us__text {
  max-width: 600px;
}
.about-us__text :nth-child(3) {
  margin: 40px 0px;
}
.about-us__text :last-child {
  margin: 20px 0px;
}
.about-us__subtitle {
  margin: 0px 0px 15px 0px;
}
.text-us {
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: #ebebeb;
}

.goals {
  margin: 50px 0px 60px 0px;
}
.goals__body {
  display: flex;
}
.goals__content {
  margin: 0px 30px 0px 0px;
}
.goals__subtitle {
}
.goals__description {
  margin: 25px 0px 19px 0px;
  max-width: 612px;
}
.goals__team {
	max-width: 100%;
}
.goals__image {
  max-width: 100%;
}
.footer {
  margin: 45px 0px 0px 0px;
}

@media (max-width: 1000px) {
  .about-us__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
  .us-photo {
    margin: 0px 0px 0px 0px;
  }
  .about-us__text {
    margin: 0 0 15px 0;
  }
  .goals__body {
    flex-wrap: wrap;
    justify-content: center;
  }
	.goals__image {
		display: none;
	}
}
