.header {
  padding: 20px 0;
}
.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  flex: 1 1 auto;
}
.menu__icon {
  display: none;
}
.header__nav {
  flex: 1 0 auto;
}
.nav__list {
  display: flex;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
}
.nav__item:not(:last-child) {
  margin: 0 60px 0 0;
}
.nav__item a {
  color: #ebebeb;
}
.header__info {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  text-align: right;
}
.header__info a,
p {
  color: #ebebeb;
}
.header__info p {
  margin: 0 0 10px 0;
}







