/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
body {
  font-family: Montserrat;
  background-color: #111111 !important;
  color: #ebebeb !important;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  padding: 20px 0;
}
.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  flex: 1 1 auto;
}
.menu__icon {
  display: none;
}
.header__nav {
  flex: 1 0 auto;
}
.nav__list {
  display: flex;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
}
.nav__item:not(:last-child) {
  margin: 0 60px 0 0;
}

.nav__item a {
  color: #ebebeb;
}
.header__info {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  text-align: right;
}
.header__info a,
p {
  color: #ebebeb;
}
.header__info p {
  margin: 0 0 10px 0;
}
.heroscreen {
}
.heroscreen__body {
  display: flex;
  flex-wrap: wrap;
}
.heroscreen__content {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
}
.content__top {
  flex: 1 1 auto;
  margin: 58px 0 0 0;
}
.heroscreen__text {
  margin: 25px 0 0 0;
}

.content__bottom {
  margin: 0 0 42px 0;
}
.heroscreen__button {
  margin: 0 0 25px 0;
}
.bottom__text {
}
.heroscreen__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offers {
}
.offers__inner {
}
.offers__article {
  text-align: center;
  margin: 100px 0 66px 0;
}
.offers__one {
  display: flex;
  align-items: center;
}
.offer__content {
  display: flex;
}
.offer__image {
  height: 100%;
}
.offer__img {
  max-width: 100%;
  object-fit: cover;
}
.offer__subscripton {
  margin: 0 0 0 20px;
}
.offer__title {
  margin: 0 0 18px 0;
}
.title-offer {
  font-family: "Arame";
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.135em;
}
.offer__subtitle {
}
.subtitle-offer {
  width: 380px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
}
.one {
  margin: 0 0 0 35%;
}
.offers__two,
.offers__four {
  display: flex;
  flex-direction: row-reverse;
  padding: 42px 0;
  align-items: center;
}
.offer__content-two {
  display: flex;
  flex-direction: row-reverse;
}
.offer__image {
}
.offer__img {
}
.offer__subscripton-two {
  margin: 0 20px 0 0;
}
.offer__title-two {
  width: 500px;
  text-align: right;
  margin: 0 0 18px 0;
}
.offer__subtitle-two {
  text-align: right;
  margin: 0 0 0 auto;
}
.subtitle-offer {
}
.two {
  margin: 0 22% 0 0;
}
.offers__three {
  display: flex;
  align-items: center;
}
.offer__content-three {
  display: flex;
}
.three {
  margin: 0 0 0 35%;
}

.programs {
  padding: 84px 0 100px 0;
}
.programs__inner {
}
.programs__article {
  margin: 0 0 62px 0;
}
.programs__items {
}
.programs__item {
  display: flex;
  padding: 22px 0;
}
.item__name {
  font-family: "Arame";
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.135em;
  flex: 0 0 30%;
}
.item__title {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 125%;
  line-height: 20px;
  color: #ebebeb;
}

.form {
}
.form__inner {
}
.form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__left,
.form__right {
  max-width: 280px;
  font-family: "Arame";
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.135em;
  color: #ebebeb;
}
.form__submit {
  display: flex;
  flex-direction: column;
}
.form__submit > * {
  margin: 0 0 40px 0;
}
::placeholder {
  margin: 0 0 20px 0;
}
.form__input-name,
.form__input-phone {
  background: none;
  border-bottom: 1px solid #000;
  padding: 0 0 5px 0;
}
.form__button {
}
.button {
}
.form__right {
}

.footer {
  padding: 16px 0 20px 0;
  margin: 100px 0 0 0;
  background-color: #000;
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo__text {
}
.footer__nav {
}
.nav__list {
}
.nav__items > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.nav__item {
}
.list {
}
.item {
}
.media {
}
.media__title,
.contact__title {
  font-family: "Arame";
  font-weight: 400;
  font-size: 20px;
  line-height: 75%;
  letter-spacing: 0.135em;
  margin: 0 0 24px 0;
}
.media__social {
  display: flex;
}
.social__inst {
}
.social__facebook {
  margin: 0 0 0 20px;
}
.footer__contact {
}
.contact__title {
}
.contact__adress {
  margin: 0 0 10px 0;
}
.contact__phone {
  color: #ebebeb;
}

/* ----RESPONSIVE------------------- */
@media (max-width: 1210px) {
  .heroscreen__body {
    flex: 0 0 100%;
    position: relative;
  }
  .heroscreen__content {
  }
  .content__top {
  }
  .offers__article {
    text-align: center;
    margin: 100px 0 30px 0;
  }
  .content__title {
    font-size: 28px;
    margin: 0 0 0 0;
  }
  .content__bottom {
    text-align: center;
  }
  .heroscreen__img {
    margin: 0 auto;
  }
  .heroscreen__button {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
  }
  .button {
    margin: 0 auto;
    display: block;
  }
  .bottom__text,
  .heroscreen__text {
    display: none;
  }
  .heroscreen {
    padding: 0 0 70px 0;
  }
}
@media (max-width: 1060px) {
  .header__info {
    display: none;
  }
}
@media (max-width: 930px) {
  .header__logo {
    flex: 1 1 100%;
  }
  .nav__list {
    flex-direction: column;
  }
  .nav__list li {
    padding: 10px 0 10px 0;
  }
  .nav__item:not(:last-child) {
    margin: 0;
  }
}

@media (max-width: 1100px) {
  .offers__one,
  .offers__three {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    text-align: center;
  }
  .offer__content,
  .offer__content-two {
    flex-direction: column;
    flex-direction: column-reverse;
    text-align: center;
  }
  .subtitle-offer {
    width: 100%;
  }
  .one,
  .two,
  .three {
    display: none;
  }
  .offer__subscripton {
    margin: 0 0 20px 0;
  }
  .offers__two {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    text-align: center;
  }
  .offer__content-two {
    width: 100%;
  }
  .offer__subscripton-two {
    margin: 0 0 20px 0;
  }
  .offer__title-two {
    text-align: center;
    width: 100%;
  }

  .offer__subtitle-two {
    text-align: center;
  }
  .offer__content-three {
    flex-direction: column;
    flex-direction: column-reverse;
    width: 100%;
  }
}
@media (max-width: 770px) {
  .programs__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .programs__article {
    margin: 0 0 24px 0;
  }
  .programs__item {
    flex-wrap: wrap;
  }
  .item__name {
    margin: 0 0 5px 0;
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    flex: 1 1 100%;
  }
  .item__title {
    display: none;
  }
  .item__name::before,
  .item__name::after {
    content: "";
    width: 10px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 8px;
  }
  .item__name::before {
    transform: rotate(40deg);
    left: 0;
  }
  .item__name::after {
    transform: rotate(-40deg);
    left: 8px;
  }
  .form__left,
  .form__right {
    display: none;
  }
  .form__row {
    justify-content: center;
  }
  .footer__row {
    justify-content: center;
  }
  .logo__text,
  .footer__nav,
  .footer__contact {
    display: none;
  }
}
